/ML/included
/ML/venv312
/ML/.venv
/ML/archive
*.pdf
patent-analysis/policy/downloaded_policies/aceee-8487db660c84f69abb0605887ddc9fd1.html
*.html
/literature review/paper-analyses
literature review/COMBINED_ANALYSES_FILTERED.txt
literature review/COMBINED_ANALYSES_COMPACT.txt
literature review/COMBINED_ANALYSES.txt
literature review/knowledge-map/export_ba63afb0-07e4-445c-bda4-32b55ca55b48_2025-11-24T233303.154802065.csv
literature review/machine-learning/patent-analysis/patent-analysis-method.docx
literature review/machine-learning/policy-analysis/export-2025-11-25.csv
